## 1024 Homework by Jiyun Tsai
**Note**  
- During the data cleaning process, I haven't delete rows that have wrong 'Execute_Time' which are the ones less than 0 days. Will filter out if necessary during the following process.
- Haven't clean data in 'COUNCILDISTRICT' (joint categories) Will do so if necessary during the following process.

In [1]:
import pandas as pd
import altair as alt ## anaconda needs to install it via environment (do not use root(base) cuz it might crash)

In [12]:
oakland_311 = pd.read_csv('oakland_311_clean.csv', ## make sure it's the correct directory
    dtype={
        'REQUESTID': object,
    },
    parse_dates=['DATETIMEINIT', 'DATETIMECLOSED', 'Execute_Time']
)

In [13]:
oakland_311.head() ## shows the head 5 rows

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Execute_Time
0,1177440,2022-01-11 09:54:54,Phone or Email,Tree - Down,TREES,NaN,WOCREATE,NaN,NaT,NaN,NaN,NaN,02Y,McCRAE POND,Oakland,CA,NaN
1,1235770,2022-09-02 14:06:57,Phone,Traffic - Sign Down,TRAFFIC,"(37.77446228895271, -122.18522266340274)",WOCREATE,NaN,NaT,6074624.017,2108846.445,CCD6,29X,3057 60TH AV,Oakland,CA,NaN
2,1236100,2022-09-04 23:14:03,SeeClickFix,Hazardous Materials,FIRE,"(37.79110003129922, -122.22179990095928)",OPEN,NaN,NaT,6064165.540,2115096.007,CCD5,21X,E 27TH ST & BARRY PL,Oakland,CA,NaN
3,1236280,2022-09-06 09:52:30,Phone,Sidewalk - Damage,ROW_STREETSW,"(37.77609653732435, -122.1972178270711)",OPEN,NaN,NaT,6071168.490,2109504.060,CCD6,28X,2600 COLE ST,Oakland,CA,NaN
4,1237256,2022-09-09 12:18:50,SeeClickFix,Tree - Pruning,TREES,"(37.77617202897651, -122.18976602952326)",UNFUNDED,NaN,NaT,6073322.331,2109492.573,CCD6,29X,2901 56TH AVE,Oakland,CA,NaN

In [17]:
oakland_311.info() ## there are 942318 rows by Oct.30, 2022
                   ## the 'REQUESTID' has now changed to object (not numbers)
                   ## Time Dtype are correctedly imported except 'Execute_Time'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942318 entries, 0 to 942317
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REQUESTID        942318 non-null  object
 1   DATETIMEINIT     942318 non-null  datetime64[ns]
 2   SOURCE           942318 non-null  object
 3   DESCRIPTION      942318 non-null  object
 4   REQCATEGORY      942230 non-null  object
 5   REQADDRESS       924817 non-null  object
 6   STATUS           942317 non-null  object
 7   REFERREDTO       84169 non-null   object
 8   DATETIMECLOSED   679757 non-null  datetime64[ns]
 9   SRX              924817 non-null  float64
 10  SRY              924817 non-null  float64
 11  COUNCILDISTRICT  897444 non-null  object
 12  BEAT             900169 non-null  object
 13  PROBADDRESS      941866 non-null  object
 14  City             942318 non-null  object
 15  State            942318 non-null  object
 16  Execute_Time     679757 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), object(12), timedelta64[ns](1)
memory usage: 122.2+ MB

In [16]:
oakland_311['Execute_Time'] = pd.to_timedelta(oakland_311['Execute_Time']) ## format 'Close_Time' to timedelta64

In [18]:
oakland_311

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Execute_Time
0,1177440,2022-01-11 09:54:54,Phone or Email,Tree - Down,TREES,NaN,WOCREATE,NaN,NaT,NaN,NaN,NaN,02Y,McCRAE POND,Oakland,CA,NaT
1,1235770,2022-09-02 14:06:57,Phone,Traffic - Sign Down,TRAFFIC,"(37.77446228895271, -122.18522266340274)",WOCREATE,NaN,NaT,6074624.017,2108846.445,CCD6,29X,3057 60TH AV,Oakland,CA,NaT
2,1236100,2022-09-04 23:14:03,SeeClickFix,Hazardous Materials,FIRE,"(37.79110003129922, -122.22179990095928)",OPEN,NaN,NaT,6064165.540,2115096.007,CCD5,21X,E 27TH ST & BARRY PL,Oakland,CA,NaT
3,1236280,2022-09-06 09:52:30,Phone,Sidewalk - Damage,ROW_STREETSW,"(37.77609653732435, -122.1972178270711)",OPEN,NaN,NaT,6071168.490,2109504.060,CCD6,28X,2600 COLE ST,Oakland,CA,NaT
4,1237256,2022-09-09 12:18:50,SeeClickFix,Tree - Pruning,TREES,"(37.77617202897651, -122.18976602952326)",UNFUNDED,NaN,NaT,6073322.331,2109492.573,CCD6,29X,2901 56TH AVE,Oakland,CA,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942313,992269,2020-03-03 08:13:59,Email,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.768215040818085, -122.19858681924846)",CLOSED,NaN,2020-03-04 22:08:26,6070720.808,2106641.892,CCD6,27Y,57TH AVE & SCOVILLE ST,Oakland,CA,1 days 13:54:27
942314,998818,2020-03-30 11:30:19,SeeClickFix,"Graffiti on a City Building (Library, Rec Center)",BLDGMAINT,"(37.81143000137956, -122.26130549877647)",CLOSED,NaN,2020-04-10 11:10:45,6052891.339,2122709.727,CCD3,14X,VETERANS MEMORIAL BLDG DOWNTOWN SENIOR CENTER,Oakland,CA,10 days 23:40:26
942315,998739,2020-03-30 08:56:33,SeeClickFix,Litter - Street Litter Container - Overflowing...,ILLDUMP,"(37.82441723346091, -122.25230276622392)",CANCEL,NaN,NaT,6055580.128,2127389.044,CCD1,09X,102 MONTE VISTA AVE,Oakland,CA,NaT
942316,994068,2020-03-09 09:47:47,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.773025041459675, -122.18271682376431)",CLOSED,NaN,2020-03-10 20:19:03,6075338.737,2108310.166,CCD6,29X,CAMDEN ST & 63RD AVE,Oakland,CA,1 days 10:31:16
942317,997364,2020-03-23 10:31:25,Phone,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.74945634259511, -122.18104057382614)",CLOSED,NaN,2020-03-24 20:10:16,6075668.999,2099721.001,CCD7,33X,87TH AV & D ST,Oakland,CA,1 days 09:38:51

## Explore the data

### Categories of incidents in 2021

In [59]:
# Create a new df oakland_311_2021 that filters the data in 2021 specifically 
oakland_311_2021 = oakland_311[
    (oakland_311['DATETIMEINIT'] >= '2021-01-01') &
    (oakland_311['DATETIMEINIT'] < '2022-01-01') & ## using 2022-01-01 to include all times in 2021-12-31
    (oakland_311['Execute_Time'] >= '0 days') ## filter out wrong 'Execute_Time' (no wrong 'Execute_Time') in 2021 
].reset_index(drop=True)

In [60]:
oakland_311_2021

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Execute_Time
0,1100745,2021-03-30 12:32:58,Phone,Sidewalk - Damage,ROW_STREETSW,"(37.799530131704586, -122.27422629538978)",CLOSED,NaN,2022-10-24 12:43:27,6049077.307,2118447.988,CCD3,03Y,701 BROADWAY,Oakland,CA,573 days 00:10:29
1,1130459,2021-07-16 10:59:26,Email,Homeless Encampment - Living in Vehicle,HE_CLEAN,"(37.81298016737627, -122.27854491902883)",CLOSED,NaN,2022-10-20 16:06:57,6047922.838,2123368.258,CCD3,05X,878 21ST ST,Oakland,CA,461 days 05:07:31
2,1163133,2021-11-09 13:33:22,Phone,Street Light - Outage/Damaged,BLDGMAINT,"(37.79682229778846, -122.25993729287025)",CLOSED,NaN,2022-10-24 07:17:55,6053186.494,2117384.229,CCD2,03X,PERALTA PARK,Oakland,CA,348 days 17:44:33
3,1152661,2021-10-04 08:27:43,Email,Streets - Potholes/Depression,SEWERS,"(37.77903411050023, -122.20076947812393)",CLOSED,NaN,2022-10-24 08:57:47,6070161.609,2110592.151,CCD4,27X,2550 RENWICK ST,Oakland,CA,385 days 00:30:04
4,1170173,2021-12-10 08:44:23,SeeClickFix,Parking - Abandoned Vehicle,POLICE,"(37.83181839825774, -122.25000389602818)",CLOSED,"PARKING, PCT_Not-NoN",2022-10-25 09:44:06,6056294.384,2130071.097,CCD1,09X,4454 VIEW ST,Oakland,CA,319 days 00:59:43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68508,1174669,2021-12-30 13:18:42,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.77450504361902, -122.2337168108031)",CLOSED,NaN,2022-01-05 19:31:35,6060610.695,2109118.018,CCD5,20X,E 7TH ST & 29TH AVE,Oakland,CA,6 days 06:12:53
68509,1173271,2021-12-23 10:14:44,Phone,Storm Drains - Clogged (Flooding),DRAINAGE,"(37.725543176497, -122.1994049027011)",CLOSED,NaN,2021-12-28 10:23:28,6070202.250,2091111.090,CCD7,31X,10001 DOOLITTLE DR,Oakland,CA,5 days 00:08:44
68510,1173749,2021-12-26 13:01:18,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.73325718651639, -122.18051912277116)",CLOSED,NaN,2021-12-28 19:53:23,6075713.824,2093820.822,CCD7,31Y,10220 CARY AVE,Oakland,CA,2 days 06:52:05
68511,1172964,2021-12-22 08:22:30,Phone,City Bldg - Appliance Issue,BLDGMAINT,"(37.822957487044704, -122.28478363241148)",CLOSED,NaN,2021-12-24 07:42:59,6046190.246,2127034.888,CCD3,07X,WILLIE KEYES (POPLAR) RECREATION CTR,Oakland,CA,1 days 23:20:29
68512,1173865,2021-12-27 10:22:55,SeeClickFix,City Bldg - Electrical Inside/Outside,BLDGMAINT,"(37.76821801341323, -122.17608097923315)",CLOSED,NaN,2022-01-11 12:23:22,6077225.034,2106525.691,CCD6,30Y,EASTMONT LIBRARY,Oakland,CA,15 days 02:00:27

In [61]:
oakland_311_2021.info() ## there are 68513 incidents reported in 2021

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68513 entries, 0 to 68512
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   REQUESTID        68513 non-null  object
 1   DATETIMEINIT     68513 non-null  datetime64[ns]
 2   SOURCE           68513 non-null  object
 3   DESCRIPTION      68513 non-null  object
 4   REQCATEGORY      68512 non-null  object
 5   REQADDRESS       66747 non-null  object
 6   STATUS           68513 non-null  object
 7   REFERREDTO       3186 non-null   object
 8   DATETIMECLOSED   68513 non-null  datetime64[ns]
 9   SRX              66747 non-null  float64
 10  SRY              66747 non-null  float64
 11  COUNCILDISTRICT  65642 non-null  object
 12  BEAT             66088 non-null  object
 13  PROBADDRESS      68508 non-null  object
 14  City             68513 non-null  object
 15  State            68513 non-null  object
 16  Execute_Time     68513 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), object(12), timedelta64[ns](1)
memory usage: 8.9+ MB

### Take a look at 'REQCATEGORY'

In [62]:
oakland_311_2021['REQCATEGORY'].unique() ## note that there is a NaN value in 'REQCATEGORY'

array(['ROW_STREETSW', 'HE_CLEAN', 'BLDGMAINT', 'SEWERS', 'POLICE',
       'PARKS', 'ELECTRICAL', 'TREES', 'DRAINAGE', 'STREETSW',
       'TRAFFIC_ENGIN', 'PARKING', 'RECYCLING', 'KOCB', 'ILLDUMP',
       'TRAFFIC', 'OTHER', 'GRAFFITI', 'METER_REPAIR', 'CUT_CLEAN',
       'FIRE', 'ENVIRON_ENF', 'ROW_INSPECTORS', 'WATERSHED', 'CW_DIT_GIS',
       'FACILITIES', nan], dtype=object)

In [63]:
oakland_311_2021[oakland_311_2021['REQCATEGORY'].isna()] ## find the row with NaN in 'REQCATEGORY'

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Execute_Time
65767,1160684,2021-11-01 12:26:31,SeeClickFix,City Bldg - Electrical Inside/Outside,NaN,"(37.806785124014034, -122.25660743897231)",CLOSED,NaN,2021-11-17 14:59:46,6054216.529,2120993.209,NaN,NaN,NaN,Oakland,CA,16 days 02:33:15

In [64]:
# Aggregate 'REQCATEGORY' 
oakland_311_2021.groupby(['REQCATEGORY']).count() ## if you only want to know the count of each category,
                                                  ## use: oakland_311_2021['REQCATEGORY'].value_counts()

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Execute_Time
REQCATEGORY,,,,,,,,,,,,,,,,
BLDGMAINT,4465,4465,4465,4465,4345,4465,27,4465,4345,4345,4248,4283,4464,4465,4465,4465
CUT_CLEAN,277,277,277,277,273,277,2,277,273,273,270,273,277,277,277,277
CW_DIT_GIS,24,24,24,24,2,24,0,24,2,2,2,2,24,24,24,24
DRAINAGE,1493,1493,1493,1493,1425,1493,309,1493,1425,1425,1402,1412,1493,1493,1493,1493
ELECTRICAL,2556,2556,2556,2556,2349,2556,477,2556,2349,2349,2303,2314,2556,2556,2556,2556
ENVIRON_ENF,213,213,213,213,210,213,0,213,210,210,208,208,213,213,213,213
FACILITIES,3,3,3,3,3,3,0,3,3,3,3,3,3,3,3,3
FIRE,11,11,11,11,11,11,0,11,11,11,11,11,11,11,11,11
GRAFFITI,2684,2684,2684,2684,2680,2684,65,2684,2680,2680,2620,2634,2684,2684,2684,2684
HE_CLEAN,131,131,131,131,128,131,1,131,128,128,127,128,131,131,131,131
ILLDUMP,30241,30241,30241,30241,29928,30241,175,30241,29928,29928,29383,29556,30241,30241,30241,30241
KOCB,323,323,323,323,306,323,1,323,306,306,305,306,323,323,323,323
METER_REPAIR,300,300,300,300,281,300,0,300,281,281,277,278,300,300,300,300
OTHER,508,508,508,508,498,508,134,508,498,498,487,489,508,508,508,508
PARKING,867,867,867,867,858,867,0,867,858,858,843,840,867,867,867,867
PARKS,814,814,814,814,796,814,16,814,796,796,786,793,814,814,814,814
POLICE,15004,15004,15004,15004,14898,15004,1449,15004,14898,14898,14730,14891,15003,15004,15004,15004
RECYCLING,2096,2096,2096,2096,1514,2096,0,2096,1514,1514,1498,1502,2096,2096,2096,2096
ROW_INSPECTORS,35,35,35,35,33,35,4,35,33,33,33,33,35,35,35,35
ROW_STREETSW,91,91,91,91,89,91,0,91,89,89,89,89,91,91,91,91
SEWERS,1381,1381,1381,1381,1279,1381,12,1381,1279,1279,1264,1263,1380,1381,1381,1381
STREETSW,1463,1463,1463,1463,1453,1463,19,1463,1453,1453,1436,1436,1462,1463,1463,1463
TRAFFIC,1619,1619,1619,1619,1564,1619,193,1619,1564,1564,1550,1557,1619,1619,1619,1619
TRAFFIC_ENGIN,61,61,61,61,56,61,0,61,56,56,54,55,61,61,61,61
TREES,1812,1812,1812,1812,1732,1812,300,1812,1732,1732,1677,1696,1812,1812,1812,1812
WATERSHED,40,40,40,40,35,40,2,40,35,35,36,36,40,40,40,40

In [65]:
# Count only by 'REQUESTID'
category_counts_2021 = oakland_311_2021.groupby(['REQCATEGORY']).count()
category_counts_2021 = category_counts_2021[['REQUESTID']].copy()
category_counts_2021

                REQUESTID
REQCATEGORY
BLDGMAINT            4465
CUT_CLEAN             277
CW_DIT_GIS             24
DRAINAGE             1493
ELECTRICAL           2556
ENVIRON_ENF           213
FACILITIES              3
FIRE                   11
GRAFFITI             2684
HE_CLEAN              131
ILLDUMP             30241
KOCB                  323
METER_REPAIR          300
OTHER                 508
PARKING               867
PARKS                 814
POLICE              15004
RECYCLING            2096
ROW_INSPECTORS         35
ROW_STREETSW           91
SEWERS               1381
STREETSW             1463
TRAFFIC              1619
TRAFFIC_ENGIN          61
TREES                1812
WATERSHED              40

In [66]:
# Create new column for this index
category_counts_2021 = category_counts_2021.reset_index()
category_counts_2021

       REQCATEGORY  REQUESTID
0        BLDGMAINT       4465
1        CUT_CLEAN        277
2       CW_DIT_GIS         24
3         DRAINAGE       1493
4       ELECTRICAL       2556
5      ENVIRON_ENF        213
6       FACILITIES          3
7             FIRE         11
8         GRAFFITI       2684
9         HE_CLEAN        131
10         ILLDUMP      30241
11            KOCB        323
12    METER_REPAIR        300
13           OTHER        508
14         PARKING        867
15           PARKS        814
16          POLICE      15004
17       RECYCLING       2096
18  ROW_INSPECTORS         35
19    ROW_STREETSW         91
20          SEWERS       1381
21        STREETSW       1463
22         TRAFFIC       1619
23   TRAFFIC_ENGIN         61
24           TREES       1812
25       WATERSHED         40

In [67]:
# Rename 'REQUESTID' in this column
category_counts_2021.rename(columns={'REQUESTID': 'Case_Count'}, inplace=True)
category_counts_2021

       REQCATEGORY  Case_Count
0        BLDGMAINT        4465
1        CUT_CLEAN         277
2       CW_DIT_GIS          24
3         DRAINAGE        1493
4       ELECTRICAL        2556
5      ENVIRON_ENF         213
6       FACILITIES           3
7             FIRE          11
8         GRAFFITI        2684
9         HE_CLEAN         131
10         ILLDUMP       30241
11            KOCB         323
12    METER_REPAIR         300
13           OTHER         508
14         PARKING         867
15           PARKS         814
16          POLICE       15004
17       RECYCLING        2096
18  ROW_INSPECTORS          35
19    ROW_STREETSW          91
20          SEWERS        1381
21        STREETSW        1463
22         TRAFFIC        1619
23   TRAFFIC_ENGIN          61
24           TREES        1812
25       WATERSHED          40

In [68]:
# Sort the column with incidents from the most to the least
category_counts_2021 = category_counts_2021.sort_values(by=['Case_Count'], ascending=False).copy()
category_counts_2021

       REQCATEGORY  Case_Count
10         ILLDUMP       30241
16          POLICE       15004
0        BLDGMAINT        4465
8         GRAFFITI        2684
4       ELECTRICAL        2556
17       RECYCLING        2096
24           TREES        1812
22         TRAFFIC        1619
3         DRAINAGE        1493
21        STREETSW        1463
20          SEWERS        1381
14         PARKING         867
15           PARKS         814
13           OTHER         508
11            KOCB         323
12    METER_REPAIR         300
1        CUT_CLEAN         277
5      ENVIRON_ENF         213
9         HE_CLEAN         131
19    ROW_STREETSW          91
23   TRAFFIC_ENGIN          61
25       WATERSHED          40
18  ROW_INSPECTORS          35
2       CW_DIT_GIS          24
7             FIRE          11
6       FACILITIES           3

### Visualized the data

In [69]:
# Make bar chart with altair
alt.Chart(category_counts_2021).mark_bar().encode(
    x='Case_Count',
    y=alt.Y('REQCATEGORY', sort='-x')
).properties(
    title='Oakland 311 Cases in 2021 by Category'
)

alt.Chart(...)

### Count 5 Year Incident Data from 2017 - 2021

In [72]:
# Create new df named oakland_311_5y
oakland_311_5y = oakland_311[
    (oakland_311['DATETIMEINIT'] >= '2017-01-01') &
    (oakland_311['DATETIMEINIT'] < '2022-01-01') &
    (oakland_311['Execute_Time'] >= '0 days') ## filter out wrong 'Execute_Time'
].reset_index(drop=True)
oakland_311_5y

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Execute_Time
0,1006268,2020-05-01 15:19:36,Email,Construction and Demolition Recycling,RECYCLING,NaN,CLOSED,NaN,2020-05-01 15:20:08,NaN,NaN,NaN,NaN,ZZ,Oakland,CA,0 days 00:00:32
1,1006717,2020-05-04 09:35:25,Phone or Email,Board Up,DRAINAGE,NaN,CLOSED,NaN,2020-05-05 10:21:33,NaN,NaN,NaN,NaN,11089 Golf links,Oakland,CA,1 days 00:46:08
2,1007414,2020-05-06 09:46:43,Phone,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,NaN,CLOSED,NaN,2020-07-22 10:28:03,NaN,NaN,NaN,NaN,3001 SAN PABLO AV,Oakland,CA,77 days 00:41:20
3,1007537,2020-05-06 14:04:20,Phone,COVID-19 Question,OTHER,"(37.772414111504105, -122.18612161475122)",CLOSED,NaN,2020-05-06 14:04:34,6074350.805,2108105.461,CCD6,29X,2936 61ST AV,Oakland,CA,0 days 00:00:14
4,1007934,2020-05-07 16:35:13,Phone,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,NaN,CLOSED,NaN,2020-05-11 18:14:51,NaN,NaN,NaN,NaN,650 53RD STREET,Oakland,CA,4 days 01:39:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325893,999454,2020-04-02 09:08:26,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.84259189198031, -122.25164877817319)",CLOSED,NaN,2020-04-03 16:59:23,6055892.846,2134002.200,CCD1,12Y,5505 COLLEGE AV,Oakland,CA,1 days 07:50:57
325894,992269,2020-03-03 08:13:59,Email,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.768215040818085, -122.19858681924846)",CLOSED,NaN,2020-03-04 22:08:26,6070720.808,2106641.892,CCD6,27Y,57TH AVE & SCOVILLE ST,Oakland,CA,1 days 13:54:27
325895,998818,2020-03-30 11:30:19,SeeClickFix,"Graffiti on a City Building (Library, Rec Center)",BLDGMAINT,"(37.81143000137956, -122.26130549877647)",CLOSED,NaN,2020-04-10 11:10:45,6052891.339,2122709.727,CCD3,14X,VETERANS MEMORIAL BLDG DOWNTOWN SENIOR CENTER,Oakland,CA,10 days 23:40:26
325896,994068,2020-03-09 09:47:47,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.773025041459675, -122.18271682376431)",CLOSED,NaN,2020-03-10 20:19:03,6075338.737,2108310.166,CCD6,29X,CAMDEN ST & 63RD AVE,Oakland,CA,1 days 10:31:16
325897,997364,2020-03-23 10:31:25,Phone,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.74945634259511, -122.18104057382614)",CLOSED,NaN,2020-03-24 20:10:16,6075668.999,2099721.001,CCD7,33X,87TH AV & D ST,Oakland,CA,1 days 09:38:51

In [73]:
oakland_311_5y.info() ## there are 325898 incidents reported from 2017-2021

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325898 entries, 0 to 325897
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REQUESTID        325898 non-null  object
 1   DATETIMEINIT     325898 non-null  datetime64[ns]
 2   SOURCE           325898 non-null  object
 3   DESCRIPTION      325898 non-null  object
 4   REQCATEGORY      325888 non-null  object
 5   REQADDRESS       320058 non-null  object
 6   STATUS           325898 non-null  object
 7   REFERREDTO       3987 non-null    object
 8   DATETIMECLOSED   325898 non-null  datetime64[ns]
 9   SRX              320058 non-null  float64
 10  SRY              320058 non-null  float64
 11  COUNCILDISTRICT  316885 non-null  object
 12  BEAT             318235 non-null  object
 13  PROBADDRESS      325863 non-null  object
 14  City             325898 non-null  object
 15  State            325898 non-null  object
 16  Execute_Time     325898 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), object(12), timedelta64[ns](1)
memory usage: 42.3+ MB

In [82]:
fiveyear_cases = oakland_311_5y.groupby([pd.Grouper(key='DATETIMEINIT', axis=0, freq='A')]).count()
fiveyear_cases

,REQUESTID,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Execute_Time
DATETIMEINIT,,,,,,,,,,,,,,,,
2017-12-31,53176,53176,53176,53176,51921,53176,220,53176,51921,51921,51424,51556,53175,53176,53176,53176
2018-12-31,50334,50334,50334,50329,49620,50334,80,50334,49620,49620,49363,49519,50320,50334,50334,50334
2019-12-31,77843,77843,77843,77840,76796,77843,194,77843,76796,76796,75801,76125,77832,77843,77843,77843
2020-12-31,76032,76032,76032,76031,74974,76032,307,76032,74974,74974,74655,74947,76028,76032,76032,76032
2021-12-31,68513,68513,68513,68512,66747,68513,3186,68513,66747,66747,65642,66088,68508,68513,68513,68513

In [83]:
# Count only by 'REQUESTID'
fiveyear_cases = fiveyear_cases[['REQUESTID']].reset_index()
fiveyear_cases

  DATETIMEINIT  REQUESTID
0   2017-12-31      53176
1   2018-12-31      50334
2   2019-12-31      77843
3   2020-12-31      76032
4   2021-12-31      68513

In [84]:
# Rename the column
fiveyear_cases.rename(columns={'REQUESTID': 'Case_Count'}, inplace=True)
fiveyear_cases

  DATETIMEINIT  Case_Count
0   2017-12-31       53176
1   2018-12-31       50334
2   2019-12-31       77843
3   2020-12-31       76032
4   2021-12-31       68513

In [86]:
# Create new column for Year
fiveyear_cases['Year'] = fiveyear_cases['DATETIMEINIT'].dt.year
fiveyear_cases

  DATETIMEINIT  Case_Count  Year
0   2017-12-31       53176  2017
1   2018-12-31       50334  2018
2   2019-12-31       77843  2019
3   2020-12-31       76032  2020
4   2021-12-31       68513  2021

In [87]:
fiveyear_cases = fiveyear_cases[['Year', 'Case_Count']].copy()
fiveyear_cases

   Year  Case_Count
0  2017       53176
1  2018       50334
2  2019       77843
3  2020       76032
4  2021       68513

In [90]:
# Visualize
alt.Chart(fiveyear_cases).mark_bar().encode(
    x='Year:O',
    y='Case_Count'
).properties(
    title='5 Years Oakland 311 Call Case Count 2017-2021'
)

alt.Chart(...)